  /* Bling Effect for Bell */
  .bling-bell {
    animation: bling 1s infinite alternate;
  }

  @keyframes bling {
    0% {
      transform: scale(1);
      color: #ff0000;
    }
    100% {
      transform: scale(1.1);
      color: #5b3599;
    }
  }

