<section>
    <div class="row mt-5">
        <div class="col-md-2 mb-4"></div>
        <div class="col-md-8 mb-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Registration Form</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                        <div class="row mb-4">
                            <div class="col">
                                <div data-mdb-input-init class="form-outline">
                                    <label class="form-label" for="form6Example1">name</label>
                                    <input type="text" formControlName="name" id="form6Example1" class="form-control" />
                                    <!-- <div class="text-danger"
                                        *ngIf="submitForm.get('name')?.invalid && (submitForm.get('name')?.dirty || submitForm.get('name')?.touched)">
                                        <div *ngIf="submitForm.get('name')?.errors?.['required']">
                                            name is required.
                                        </div>

                                    </div> -->

                                </div>
                            </div>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form6Example2">Email</label>
                            <input type="email" formControlName="email" id="form6Example2" class="form-control" />

                            <!-- <div class="text-danger"
                                *ngIf="submitForm.get('email')?.invalid && (submitForm.get('email')?.dirty || submitForm.get('email')?.touched)">
                                <div *ngIf="submitForm.get('email')?.errors?.['required']">
                                    Email is required.
                                </div>
                                <div class="text-danger" *ngIf="submitForm.get('email')?.errors?.['email']">
                                    Invalid email format.
                                </div>
                            </div> -->
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form6Example3">Password</label>
                            <input type="Password" formControlName="password" id="form6Example3" class="form-control" />

                            <!-- <div class="text-danger"
                                *ngIf="submitForm.get('password')?.invalid && (submitForm.get('password')?.dirty || submitForm.get('password')?.touched)">
                                <div *ngIf="submitForm.get('password')?.errors?.['required']">
                                    Password is required.
                                </div>
                                <div class="text-danger" *ngIf="submitForm.get('password')?.errors?.['minlength']">
                                    Password must be at least 6 characters long.
                                </div>
                            </div> -->

                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form6Example4">Address</label>
                            <textarea id="form6Example4" formControlName="address" class="form-control"></textarea>
                        </div>

                        <!-- Number input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form6Example5">Phone</label>
                            <input type="number" formControlName="Phone" id="form6Example5" class="form-control" />
                        </div>

                        <div class="form-outline mb-4" data-mdb-input-init>
                            <label class="form-label" for="form6Example6">State</label>
                            <select class="form-control" formControlName="state">
                                <option value="">Select</option>
                                <option value="1">up</option>
                                <option value="1">mp</option>
                                <option value="1">ap</option>
                            </select>
                        </div>
                        <!-- <hr class="my-4" /> -->

                        <div class="form-check ">
                            <input class="form-check-input" formControlName="game" type="checkbox" value=""
                                id="checkoutForm1" />
                            <label class="form-check-label" for="checkoutForm1">
                                tennis
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="game" id="checkoutForm2" />
                            <label class="form-check-label" for="checkoutForm2">
                                footbool
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" formControlName="game" type="checkbox" id="checkoutForm3" />
                            <label class="form-check-label" for="checkoutForm3">
                                cricket
                            </label>
                        </div>


                        <!-- <div class="form-check">
                            <input class="form-check-input" formControlName="radioButton" type="radio"
                                name="flexRadioDefault" id="checkoutForm3" checked />
                            <label class="form-check-label" for="checkoutForm3">
                                Credit card
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" formControlName="radioButton" type="radio"
                                name="flexRadioDefault" id="checkoutForm4" />
                            <label class="form-check-label" for="checkoutForm4">
                                Debit card
                            </label>
                        </div> -->




                        <div class="form-group" data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="exampleFormControlFile1">File Upload</label><br>
                            <input type="file" formControlName="file" class="form-control-file"
                                id="exampleFormControlFile1" />
                        </div>


                        <button type="submit" [disabled]="submitForm.invalid"
                            class="data-mdb-button-init data-mdb-ripple-init" class="btn btn-primary btn-block mb-4">
                            Save
                        </button>

                        <div class="text-center">
                            <a routerLink="/login">
                                <p>Login:</p>
                            </a>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-link btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-2 mb-4"></div>
    </div>
</section>