<section class="mt-5">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        The best offer <br />
                        <span class="text-primary">for your business</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5  mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form [formGroup]="submitForm" (ngSubmit)="onforgetPasswordLink()">


                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3">Email address</label>
                                    <input type="email" formControlName="email" id="form3Example3"
                                        class="form-control" />

                                    <div class="text-danger"
                                        *ngIf="submitForm.get('email')?.invalid && (submitForm.get('email')?.dirty || submitForm.get('email')?.touched)">
                                        <div *ngIf="submitForm.get('email')?.errors?.['required']">
                                            Email is required.
                                        </div>
                                        <div class="text-danger" *ngIf="submitForm.get('email')?.errors?.['email']">
                                            Invalid email format.
                                        </div>
                                    </div>
                                </div>

                                <!-- <input type="text" [value]="token" formControlName="token"> -->

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="password">Password</label>
                                    <input  [type]="hide ? 'password' : 'text'"  formControlName="password" id="password"
                                        class="form-control" />

                                    <div class="text-danger"
                                        *ngIf="submitForm.get('password')?.invalid && (submitForm.get('password')?.dirty || submitForm.get('password')?.touched)">
                                        <div *ngIf="submitForm.get('password')?.errors?.['required']">
                                            Password is required.
                                        </div>
                                    
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary" (click)="togglepassword()">
                                        <i class="fa" [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}"></i>
                                      </button>
                                </div>


                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="cPassword">Confirm Password</label>
                                    <input [type]="hides ? 'password' : 'text'" formControlName="cPassword" id="cPassword"
                                        class="form-control" />

                                    <div class="text-danger"
                                        *ngIf="submitForm.get('cPassword')?.invalid && (submitForm.get('cPassword')?.dirty || submitForm.get('cPassword')?.touched)">
                                        <div *ngIf="submitForm.get('cPassword')?.errors?.['required']">
                                            Confirm Password is required.
                                        </div>
                                        
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary" (click)="toggleCpassword()">
                                        <i class="fa" [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}"></i>
                                      </button>
                                </div>


                                <button type="submit" [disabled]="submitForm.invalid"
                                    class="data-mdb-button-init data-mdb-ripple-init"
                                    class="btn btn-primary btn-block mb-4">
                                    Submit
                                </button>

                                <br> <a href="/login">Login</a>


                                <div class="text-center">

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-github"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->